<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <div class="login-social-link centered">
      <p>or you can sign in via your social network</p>
      <%= link_to "#{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), class: "btn btn-facebook" %><br />
      </div>
  <% end -%>
<% end -%>
<%- if controller_name != 'sessions' %>
  <div style="text-align:center;margin-bottom:10px;">
      Already have an account?<br/>
      <%= link_to "Sign in now", new_session_path(resource_name) %>
  </div>
  <%#= link_to "Sign in", new_session_path(resource_name) %>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div style="text-align:center;margin-bottom:10px;">
      Don't have an account yet?<br/>
      <%= link_to "Create an account", new_registration_path(resource_name) %>
  </div>
  <%#= link_to "Sign up", new_registration_path(resource_name) %>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%#= link_to "Forgot your password?", new_password_path(resource_name) %>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <div style="text-align:center;margin-bottom:10px;">
    Didn't receive confirmation instructions?<br>
    <%= link_to "Resend now", new_confirmation_path(resource_name) %>
  </div>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <div style="text-align:center;margin-bottom:10px;">
    Didn't receive unlock instructions?<br>
    <%= link_to "Unlock!", new_unlock_path(resource_name) %>
  </div>
<% end -%>

