<div class="row" style="margin-top: 20px;">
  <div class="col-xs-12 col-lg-4 pull-right" style="z-index: 1;margin-bottom: 10px;">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3><%= pluralize(@post.points, 'point') %></h3>
        <small>
          <%= pluralize(@post.up_votes, 'up vote') %>,
          <%= pluralize(@post.down_votes, 'down vote') %>
        </small><br>
        <div style="margin-top:10px;">
          <% if policy(@post).edit? %>
            <%= link_to edit_topic_post_path(@topic,@post), class: 'btn btn-warning btn-sm' do %>
              <span class="glyphicon glyphicon-pencil"></span> Edit
            <% end %>
          <% end %>

          <% if policy(@post).destroy? %>
            <%= link_to [@topic, @post], method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure you want to delete this post?'} do %>
              <span class="glyphicon glyphicon-trash"></span> Delete Post
            <% end %>
          <% end %>
        </div>
        <%= render partial: 'favorites/favorite', locals: {topic: @topic, post: @post} %>
      </div>
    </div>
  </div>

  <div class="col-lg-8">
    <div>
      <%= render partial: 'votes/voter', locals: {topic: @topic, post: @post} %>
      <h1><%= markdown @post.title %> </h1>
      <small>
        <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
        submitted <%= time_ago_in_words(@post.created_at) %> ago by
        <%= @post.user.name %>
      </small>
    </div>
    <p><%= markdown @post.body %></p>
    <p> Tags: <%= raw @post.tag_list.map {|t| link_to t, tag_path(t), class: "label label-orange" }.join(' ') %> </p>
    <p> Location: <%= @post.location.address rescue ""%>
    <hr/>
    <p><%= image_tag(@post.image_url) if @post.image? %></p>
    <h2 class='js-comments-count'><%= @comments.count %> Comments</h2>
    <div class='js-comments'>
      <%= render partial: 'comments/comment', collection: @comments, locals: {topic: @topic, post: @post} %>
    </div>
    <%if policy(@comment).create? %>
      <hr>
      <p><%= render partial: 'comments/form', locals: {topic: @topic, post: @post, comment: @comment}  %></p>
    <% end %>
  </div>
  
</div>
